<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString"
            connectionString="Data Source=NEO\CRISTOPHER;Initial Catalog=Monolito4am;User ID=sa;Password=***********;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>